@import "user.css";

p {
    color: #3d3d3d;
    font-size: 15px;
    margin: 11px 0px 23px 10px;
    min-width: 100px;
}

form {
  min-width: 50%;
}

.input {
  margin-bottom: 13px;
}

.non-input {
  margin-bottom: 23px;
  margin-right: 100px;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 50px 0 50px;
}

.info {
    flex: 2;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.edit-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
    position: relative;
}

.form-container {
  margin-top: 0;
}

.edit {
  padding: 4px;
}

.edit, #cancel {
  margin: 3px;
  min-width: 90px;
}

#to-edit {
  width: 170px;
}

#profile-form-edit-buttons {
  position: relative;
  right: 110px;
}

#profile-info-section {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-right: 20%;
  margin-left: 20%;
}

@media screen and (min-width: 300px) and (max-width: 1200px) {
  .input {
    max-width: 60%;
  }
}

@media screen and (min-width: 700px) {
  .form-container > input {
    max-width: 300px;
  }

  .edit-buttons {
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 160px;
  }

  .edit {
    margin-right: 7px;
  }

  #change-pass-form {
    width: 30%;
  }

  #change-pass {
    min-width: 170px;
  }

  #profile-form-edit-buttons {
    position: static;
  }

  #profile-info-section {
    max-width: 50%;
    min-width: 350px;
    margin-right: 375px;
  }
}
