@import "index.css";

p {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #9c9c9c;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.nav-link {
  padding-bottom: 3px;
  padding-top: 3px;
  margin: 2px;
  text-align: right;
}

.nav-link:hover {
  cursor: pointer;
}

.line {
  background: var(--accent);
  height: 6px;
  width: 35px;
  display: block;
  margin: 3px;
  border-radius: 20%;
}

.navbar {
  align-items: center;
  display: flex;
  border: none;
}

.nav {
  border-bottom: solid 2px #dee3e1;
  padding-bottom: 4px;
  padding-top: 4px;
}

.drop-down {
  display: flex;
  flex-direction: column;
}

#menu {
  display: none; /*mobile hidden*/
  width: 35%;
  position: relative;
  left: 65%;
}


#menu > li {
  display: block;
  color: var(--theme);
  margin-right: 8px;
}

#menu > li:hover {
  color: var(--highlight);
}

.content {
  margin: auto;
  max-width: 900px;
  padding: 50px;
}

.spending-limit, .expense-tracker, .progress {
  padding-bottom: 40px;
}

.spending-header {
  padding-bottom: 0;
}

.set-limit-form {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 500px;
}

.limit-input {
  flex: 2.5;
  margin-right: 15px;
}

.limit-submit {
  margin: 10px;
  flex: 1;
}

.input-expense-form {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.input-expense-form > select {
  padding: 2px;
  border-radius: 5px;
  background-color: var(--light-theme);
  flex: 2;
  border: none;
  min-width: 80px;
}

.input-expense-form > input {
  margin: 10px;
}

.amount-input {
  flex: 2;
}

.description-input {
  flex: 7;
}

.input-expense-form > input[type=submit] {
  flex: 4;
}


.content-item {
  margin: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.tracker {
  border: solid 2px var(--accent);
  min-height: 150px;
  max-height: 400px;
  padding: 10px;
  margin-top: 7px;
  border-radius: 10px;
  background-color: var(--light-theme);
  overflow: auto;
  font-family: georgia; /*CHANGE*/
}

.progress > .button {
  width: 20%;
  font-size: 13px;
  padding: 5px;
}

.progress {
  display: flex;
  flex-direction: column;
}

.bar {
  margin-right: 10px;
  height: 17px;
  border-radius: 50px;
  border: 1px solid var(--off-black);
}

.filler {
  height: 100%;
  background-color: var(--highlight);
  border-radius: 50px;
  width: 40%;
  max-width: 100%;
}

.progress-tracker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.progress-bar {
  flex: 5;
}

.progress-tracker > p {
  flex: 1;
}

table {
    font-size: 15px;
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td, th {
    text-align: left;
    padding: 2px;
}

.type {
    width: 11%;
}

.amount {
    width: 22%;
}

.description {
  width: 50%;
}

.x {
  color: var(--red);
  font-size: 18px;
}

.In {
    color: green;
}

.Out {
    color: #d62a1e;
}

#no-expenses {
  font-size: 13px;
  text-align: center;
}

#percentage {
  align-self: center;
}

#cancel {
  margin-left: 7px;
  padding: 3px;
  color: var(--theme);
  background-color: white;
  border: 2px solid var(--theme);
}

#cancel:hover {
  color: var(--highlight);
  border-color: var(--highlight);
  cursor: pointer;
}

@media screen and (min-width: 600px) {
    .drop-down {
        display: block;
    }

    .menu-icon {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }

    #menu {
        display: flex;
        position: unset;
        min-width: 60%;
        align-items: center;
        justify-content: flex-end;
        padding-right: 15px;
    }

    #menu > li {
        width: auto;
        text-align: center;
        margin-left: 5px;
        border-bottom: 2px solid white;
    }

    #menu > li:hover {
        border-bottom-color: var(--highlight);
    }
}
